<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Password Reset</title>
</head>

<body>
  <p>We received a request to reset the password for your account associated with this email address.
    Your OTP for reset password is: <strong><%= resetToken %></strong></p>
  <!-- <p><a href="<%= `${process.env['forgot_pass']}/${resetToken}` %>" style="color: #0095FF;">Click Here</a></p> -->
</body>

</html>
